.more-sec {
    //position: fixed;
    // left: 0;
    // margin-right: -9999px;
    // display: block;
    // top: 0;
    // bottom: 0;
    font-family: $font-family-system;
    z-index: 20;

    .more-modal {
        width: 266px;
        background-color: $inst-primary-background;
        box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
        border-radius: 16px;


        .more {
            height: 404.5px;
            width: auto;
            position: relative;
            display: block;
        }

        .more-pd {
            padding: 8px;
            display: block;
        }


    }

    .more-div {
        padding: 16px;

    }

    span {
        line-height: 18px;
        font-size: 14px;
        font-weight: 400;
        padding-left: 15px;
    }

    .more-sep {
        height: 6px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-right: -8px;
        margin-left: -8px;
        margin-left: -8px;
        margin-right: -8px;
        background-color: rgba($inst-separater, .3);
    }

}

.more-div:hover {
    background-color: $inst-hover;
    cursor: pointer;
}



//display: block;

// height: 404.5px;
// background-color: rgb(255, 255, 255);
// position: fixed;
// margin-right: -9999px;
// position: relative;
// display: inherit;
// border-radius: 16px;
// box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
// transform: translateX(0%) translateZ(1px);
// outline: none;
// overflow: hidden;