$inst-primary-background: rgb(255, 255, 255);
$inst-secondary-background: rgb(250, 250, 250);
$inst-primary-text: rgb(0, 0, 0);
$inst-primary-search: rgb(239, 239, 239);
$inst-separater: rgb(219, 219, 219);
$inst-blue: rgb(69, 142, 255);



$layoutPadding: 22px;

$nav-bar-width: 244px